In [1]:
import pandas

In [3]:
df1 = pandas.DataFrame([{"Name": "Ian", "Surname": "Millar"}, {"Name": "Jack"}])

In [4]:
df1

   Name Surname
0   Ian  Millar
1  Jack     NaN

In [5]:
type(df1)

pandas.core.frame.DataFrame